body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.pic_sls {
  width:200px;
  margin-left: 25px;
  margin-right: 25px;
  content: ""
}

.slick-prev:before, .slick-next:before {
  color: rgba(0,0,0,0.5);
}